<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>Compassパスワード再発行</title>
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="keywords" content="ギフト,酒,タンブラー,ワイン,グラス">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="/images/apple-touch-icon.png">
  <meta name="twitter:card" content="summary">
  <meta name="format-detection" content="telephone=no">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="canonical" href="">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" type="image/png" href="/images/icon/android-touch-icon.png" sizes="192x192">
  <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/auth/forgot.css">
  <link rel="stylesheet" href="/css/button.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src='/js/common/mailvalidation.js'></script>
</head>

<body>
  <main>
    <%- include('../partials/microheader.ejs') %>
      <div class="wrap main-account-wrapper">
        <h3 class="headline-standard libre-baskerville">
          Password Reset
          <span class="headline-small noto-sans">パスワード再設定</span>
        </h3>
        <div class="account-row-wrapper">
          <form id='mailform' method='post' action='/auth/republish'>
            <div class='account-row-form'>
              <p class='account-row-label'>登録済みのメールアドレス</p>
              <input type='text' id='usermail' name='usermail' class='formitem' placeholder='例）xxx@yyy.zzz' required>
            </div>
            <div class="account-button-flex">
              <button class="button-g button-7 button-wide" type="submit" value="">
                送信
              </button>
              <a href="/auth/login">
                <button type="button" class="button-g button-6 button-wide">戻る</button>
              </a>
            </div>
          </form>
          <div class="account-button-children">
            <p class="red">
              <%= message %>
            </p>
          </div>
        </div>
      </div>
  </main>
  <%- include('../partials/microfooter.ejs') %>
</body>

</html>