<header>
  <div class="header-wrapper">
    <div class="header-flex forsp">
      <div class="header-icon hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="micro-header-logo">
      <a href="/">
        <div class="gallery-cell">
          <img class="forpc header-image" src="/images/logo/LOGO.png" alt="">
          <img class="forsp header-image" src="/images/logo/LOGO.png"
            srcset="/images/logo/LOGO.png 1x,/images/logo/LOGO@2x.png 2x,/images/logo/LOGO@3x.png 3x" alt="">
        </div>
      </a>
    </div>
  </div>
</header>