<footer>
  <hr>
  <div class="footer-area">
    <div class="content-area">
      <img class="appeal" src="/images/logo/LOGO.png">
    </div>
    <div class="icon-area">
      <div>
        <a href="https://www.instagram.com/compass_linq.shop/"  target="_blank"><img src="/images/logo/instagram.png" alt="instagramロゴ"></a>
      </div>
    </div>
  </div>
  <p class="copyright">Copyright 2025 Compass, Inc.</p>
</footer>
